<% include partials/header %>

<div class="banner">
    <div class="banner-text">
        <div class="banner-text-items">
            <h1>Welcome to CLASSIC!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt commodi voluptatibus corrupti facilis, 
                a ducimus modi ea, 
                non fuga quibusdam nemo pariatur voluptates natus ipsam vitae numquam rem dolorum. Unde?</p>
        </div>
    </div>
</div>

<div class="main-content">
    <div class="main1">
        <h2>Main heading One</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, dolorem dolorum in, accusantium dolores nisi libero, 
            fugiat earum numquam dicta magnam? Sequi enim voluptatum possimus saepe cumque sit asperiores sunt?</p>
    </div>

    <div class="main1">
            <h2>Main heading One</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, dolorem dolorum in, accusantium dolores nisi libero, 
                fugiat earum numquam dicta magnam? Sequi enim voluptatum possimus saepe cumque sit asperiores sunt?</p>
    </div>

    <div class="main1">
            <h2>Main heading One</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, dolorem dolorum in, accusantium dolores nisi libero, 
                fugiat earum numquam dicta magnam? Sequi enim voluptatum possimus saepe cumque sit asperiores sunt?</p>
    </div>

    <div class="contact">
        <div class="contact-text">
            <div class="contact-items">
                <h2>Contact us</h2>
                <input type="text" placeholder="Your Name">
                <input type="text" placeholder="Your Email">
                <textarea name="" id="" cols="30" rows="10" placeholder="Your message here..."></textarea>
                <a href="#">Submit</a>
            </div>
        </div>
    </div>
</div>


<% include partials/footer %>